<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.175809466913-g5f0tbqalie4gqdkanr2nofhf1tqsb3h</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>LuckiestGuy-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CanvasWidget</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.twocentsapp.secondcents</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Allow TwoCents to access your contacts</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow TwoCents to access the Camera</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow TwoCents to access the Microphone</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show it on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to show it on the map.</string>
</dict>
</plist>
